.box
{background-color: azure;
border: 1px solid;
margin-bottom: 10px;}

/* width : 너비(가로) / height : 높이(세로) */
/* px:고정길이 %: 가변길이 */


.w-fixed{width: 200px; height: 100px;}
.w-percent{width: 50%; height: 100%;} /* 부모의 값이 있어야 % 계산이 가능 */

/* padding */
.pad-all{padding: 20px;}

/* top-위 right-오른쪽, bottom-아래, left-왼쪽 */
/* 값이 4개 - 위 오른쪽 아래 왼쪽 (시계방향) */
/* 값이 3개 - 위 좌우 아래 */
/* 값이 2개 - 위아래 좌우 */
.pad-parts{padding-left: 10px;
padding: 30px 20px 40px 10px;
padding: 30px 20px 40px;
padding: 30px 20px;}

/* margin */
/* margin도 padding처럼 -top, -right, - bottom, leht- */
.mar-all{margin: 24px;}
.mar-auto{width: 300px; margin: auto;}

/* border */
/* solid : 실선  dashed : 점선 dotted : 점 */
/* radius : 사각형 -> 원 */
/* box-sizing 
    - content-box(기본값) : content가 기준
    - border-box : border(테두리)가 기준 */

.bd-solid
{width: 90px; height: 90px;
border: 3px solid red;}

.bd-round
{width: 90px; height: 90px;
border: 3px dashed green; 
border-radius: 10px;}

.bd-circle
{width: 90px; height: 90px;
border: 3px dotted blue;
border-radius: 50%;}

/* box-sizing */
.bs-content, .bs-border
{width: 200px; height: 80px; padding: 20px;
border: 5px solid aqua}

.bs-content
{box-sizing: content-box;}

.bs-border
{box-sizing: border-box;}

/* display */
/* block :  inline :  */

.d-span{display: block;}
.d-div{display: inline;}

.pos-outer
{height: 250px;
border:1px solid;
background-color: #f6f6f6;}

.pos-box
{width: 100px; height: 60px; color: #fff;}

.rel
{background: navy;
position: relative;
top: 10px; left: 10px;}


